<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">

</head>
<body>

    <div class="wrapper">

        
        <div class="container">
            
            <div class="row">
                <div class="back_btn">
                    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <div class="col-md-10 m-auto">
                    <div class="main_content">
                        
                        <div class="cover_pho">
                        

                           <% if (user_data) { %>
                            <% if (user_data.cover_photo) { %>

                                <img class="cover_img" src="./assets/profile/cover_img/<%= user_data.cover_photo %>  " alt="">

                                <% } else { %>
                                    <img class="cover_img" src="./assets/images/cover.jpg " alt="">
                                    
                                <% } %>
                           <% } %>
                        
                        <div class="cover_up">
                                <form action="/cover-update" method="post" enctype="multipart/form-data">
                                    <label for="cover_pic">
                                        <i class="fa-solid fa-camera"></i>
                                        <span>Edit Cover Photo</span>
                                    </label>
                                    <input name="cover_pic" style="display: none;" id="cover_pic" type="file">
                                    <input class="change_btn" type="submit" value="Change">
                                </form>
                        </div>
                        </div>


                        <div class="profile_info">

                            <% if (profile_img) { %>
                                <img class="profile_img" src="/assets/profile/profile_img/<%= profile_img %> " alt="">

                                <% } else { %>
                                <img class="profile_img" src="/assets/images/avatar.png" alt="">

                            <% } %>
                            
                            <div class="profile_pic">
                                <form action="/profile-update" method="post" enctype="multipart/form-data">
                                    <label for="profile_pic">
                                        <i class="profile_icon fa-solid fa-camera"></i>
                                    </label>
                                    <input name="profile" style="display: none;" id="profile_pic" type="file">
                                    <input class="change_btn" type="submit" value="Change">
                                </form>
                            </div>

                            <div class="profile_short_info">
                                <h3><%= user_data.firstName %> <%= user_data.surName %> </h3>
                                <a href="#">1.2k friends</a>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="option">
                        <a href="/profile">Gallery</a>
                        <a class="active" href="/follower-page">Follower</a>
                        <a href="/following-page">Following</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="body_wrapper">
        <div class="container">
            <div class="row">
                <div class="body_info_show col-md-10 mx-auto">
                    <div class="body_info">
                        <h3>Follower</h3>
                    </div>
                    <hr>
                 
                    <div class="show_all_follower">

                        <% myFollower.follower.forEach(item => { %>

                                 <div class="show_follower">
                            <div class="single_follower_box card shadow">
                                <div class="single_follower_box_info card-body">

                                    <% if (profile_img) { %>
                                        <img  src="/assets/profile/profile_img/<%= item.profile %> " alt="">
        
                                        <% } else { %>
                                        <img  src="/assets/images/avatar.png" alt="">
        
                                    <% } %>

                                    
                                    <a class="foller_name" href="/friend-profile/<%= myFollower._id %> "><%= item.firstName %> <%= item.surName %> </a>
                                    <a class="see_profile" href="#">See Profile</a>

                                </div>
                            </div>
                        </div>

                        <% }) %>

                


                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


<% if (msg) { %>
    <script>
      var Toast = Swal.mixin({
      toast: true,
      position: 'top',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
      })

      Toast.fire({
        icon: `<%= icon%>`,
        title: `<%= msg%>`
      })
    </script>

<% } %>